.cc
  form.cc__form: .cc__inner
    .cc__header Рассчитайте ежемесячный платеж и сумму к выплате
    .cc__body
      .cc__fieldset
        .cc__group
          .cc__field.cc__field_border
            input.cc__input.cc__input-amount(required='' name='amount' id='cc__amount' placeholder='Сумма займа' readonly)
            label.cc__label(for='cc__amount') Сумма займа
          .cc__range.cc__range-amount
          .cc__hint
            .cc__hint-part От 50 000 ₽
            .cc__hint-part до 1 000 000 ₽
        .cc__group
          .cc__field.cc__field_border
            input.cc__input.cc__input-term(required='' name='term' id='cc__term' placeholder='Срок займа' readonly)
            label.cc__label(for='cc__term') Срок займа
          .cc__range.cc__range-term
          .cc__hint
            .cc__hint-part От 1 месяца
            .cc__hint-part до 5 лет



      .cc__result
        .cc__result-key Ежемесячный платеж -
        .cc__result-value 5300 ₽
      .cc__fieldset
        .cc__group
          .cc__field
            input.cc__input(required='' name='name' id='cc__name' placeholder='Иван')
            label.cc__label(for='cc__name') Имя
        .cc__group
          .cc__field
            input.cc__input.cc__input_phone(required='' type='tel' name='phone' id='cc__phone' placeholder='Телефон')
            label.cc__label(for='cc__phone') Телефон

    .cc__footer
      label.checkbox-label.cc__checkbox Я принимаю условия пользовательсого соглашения
        input.checkbox(type='checkbox' required='' checked='')
        span.checkmark
      button.cc__btn Получить одобрение
        i.ld.ld-arrow.cc__btn-icon
    .cc__status
